[submodule "vimdir/bundle/ag"]
	path = vimdir/bundle/ag
	url = https://github.com/rking/ag.vim
[submodule "vimdir/bundle/ctrlp"]
	path = vimdir/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vimdir/bundle/delimitMate"]
	path = vimdir/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "vimdir/bundle/nerdtree"]
	path = vimdir/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vimdir/bundle/syntastic"]
	path = vimdir/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vimdir/bundle/vim-endwise"]
	path = vimdir/bundle/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "vimdir/bundle/vim-gitgutter"]
	path = vimdir/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vimdir/bundle/vim-haml"]
	path = vimdir/bundle/vim-haml
	url = https://github.com/tpope/vim-haml.git
[submodule "vimdir/bundle/vim-markdown"]
	path = vimdir/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vimdir/bundle/vim-nerdtree-tabs"]
	path = vimdir/bundle/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "vimdir/bundle/vim-surround"]
	path = vimdir/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vimdir/bundle/vim-tmux-navigator"]
	path = vimdir/bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "vimdir/bundle/rspec.vim"]
	path = vimdir/bundle/rspec.vim
	url = https://github.com/Keithbsmiley/rspec.vim.git
[submodule "vimdir/bundle/vim-HiLinkTrace"]
	path = vimdir/bundle/vim-HiLinkTrace
	url = https://github.com/gerw/vim-HiLinkTrace.git
[submodule "vimdir/bundle/vim-coffee-script"]
	path = vimdir/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "nvm"]
	path = nvm
	url = https://github.com/creationix/nvm.git
[submodule "vimdir/bundle/vim-bundler"]
	path = vimdir/bundle/vim-bundler
	url = git://github.com/tpope/vim-bundler.git
[submodule "vimdir/bundle/vim-projectile"]
	path = vimdir/bundle/vim-projectile
	url = git://github.com/tpope/vim-projectile.git
[submodule "vimdir/bundle/vim-rake"]
	path = vimdir/bundle/vim-rake
	url = git://github.com/tpope/vim-rake.git
[submodule "ruby/rbenv"]
	path = ruby/rbenv
	url = https://github.com/sstephenson/rbenv.git
[submodule "ruby/rbenv_plugins/ruby-build"]
	path = ruby/rbenv_plugins/ruby-build
	url = https://github.com/sstephenson/ruby-build.git
